$color1:#434CCC;
$color2:#ffff;
$color3: rgba(255, 255, 255, 0.50);

*{
    padding: 0%;
    margin:0%;

}

#main164{

    width:1440px;
    border:1px solid white;
    box-sizing:border-box;

}
#id164A{
    // width:1440px;
    width:100%;
    height: 480px;
    color:$color2;

    border:1px solid #434CCC;
    // font-family: 'Bodoni Moda', serif;
    font-family: 'Kalnia', serif;
    text-align: center;
   background-color: #434CCC;
//    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
#id164A>h3{
    // width:327px;
    // height:64px;
    // border:1px solid rgb(3, 22, 3);
    color:$color2;
text-align: center;
margin-top:76px;

/* H2 */
// font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 114.286% */
}
#id164A>p{
//     width: 770px;
// height: 83px;
// flex-shrink: 0;
// border:1px solid yellow;
color: $color2;
text-align: center;
// margin: 29px 335px 0px 335px;
margin-top:29px;
padding:0px 335px 0px 335px;

/* Text_Big */
// font-family: DM Serif Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 160% */
}
.mainflexA{
    width:1170px;
    height: 104px;
    // border:2px solid blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 123px;
    margin:50px 0px 0px 135px ;
    
}
.mainflexA>div{
    width:100%;
    height:104px;
//   border:1px solid black;
 
}
// .mainflexA>div:nth-child(1){
//     height:104px;
//     border:1px solid black;
    
//     }
    // 1
    // .mainflexA>div:nth-child(1)>p:nth-child(1){
        .mainflexA>div>p:nth-child(1){
        text-align: center;
        
        /* H1 */
        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px; /* 111.111% */
            }
//   .mainflexA>div:nth-child(1)>p:nth-child(2){
    .mainflexA>div>p:nth-child(2){
    color:$color3;
text-align: center;

/* Text_Gray */
// font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
//  2
// .mainflexA>div:nth-child(2){
//     height:104px;
//     border:1px solid black;
// }
// >p:nth-child(1)

// MAIN PART--2

@media all and (max-width:480px){

    #main164{

       width:367px;
       height:3104px;
        border:1px solid white;
        box-sizing:border-box;
    
    }
    
    #id164A{
        // width:1440px;
        width:100%;
        height:869px;
        color:$color2;
    
    
        border:1px solid #434CCC;
        // font-family: 'Bodoni Moda', serif;
        font-family: 'Kalnia', serif;
        text-align: center;
       background-color: #434CCC;
    //    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
    #id164A>h3{
        // width:327px;
        // height:64px;
        // border:1px solid rgb(3, 22, 3);
        color:$color2;
    text-align: center;
    // margin-top:76px;
    
    /* H2 */
    // font-family: DM Serif Display;
    
    
    
    /* H3 */
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
    }
    #id164A>p{
    // border:1px solid yellow;
    color: $color2;
    text-align: center;
    // margin: 29px 335px 0px 335px;
    // margin-top:29px;
    padding:0px 15px 0px 15px;
    
    /* Text_Big */
    // font-family: DM Serif Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 160% */
    }
    .mainflexA{
        width:270px;
        height: 392px;
    //    border:1px solid red;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-left: 123px;
        margin:52px 0px 0px 53px ;
        
    }
    .mainflexA>div{
        width:100%;
        height:104px;
    //   border:1px solid black;
     
    }
   
            .mainflexA>div>p:nth-child(1){
            text-align: center;
            
            /* H1 */
            font-family: DM Serif Display;
            font-size: 72px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px; /* 111.111% */
                }
    //   .mainflexA>div:nth-child(1)>p:nth-child(2){
        .mainflexA>div>p:nth-child(2){
        color:$color3;
    text-align: center;
    
    /* Text_Gray */
    // font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
     }
}

