*{
    padding:0%;
    margin:0%;

}
// Main Part-2
$color4:#000;

#id164B{
    width:100%;
    height:768px;
    // border:1px solid rosybrown;
    box-sizing: border-box;
    display: flex;
    font-family: 'Kalnia', serif;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


///a
.classBa{
    height:509px;
    width:338px;
    // border:1px solid ;
    margin: 111px 0px 0px 135px;
}
.classBa>h5:nth-child(1){
    color:$color4;

/* H5 */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;

}
.classBa>h4{
    color: $color4;
    margin-top: 21px;

/* H2 */

font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 114.286% */
}
.classBa>p{
    color:$color4;
 margin-top: 40px;
//  border:1px solid ;
font-family: DM Serif Display;
/* Text_Big */

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.classBa>button{
    color: #434CCC;
    border:1px solid #7b81c9;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
border-radius:5px;
font-weight: 700;
line-height: 24px; /* 150% */
padding:10px 55.5px 11px 55.5px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-top: 33px;
}
.classBa>button:hover{
    cursor: pointer;
    background-color: #e7e2e2;
}
// b
.classBb{
    width:53px;
    height:401px;
    // border:1px solid ;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    margin: 176px 0px 0px 83px;
}
.classBb>div:nth-child(2)>img{
    margin-top: 131px;
    width:48px;
}
.classBb>div:nth-child(3)>img{
    margin-top: 128px;
    width:49px;
}


//c
.classBc{
    width:270px;
    height: 471px;
    // border:1px solid ;
    margin:168px 0px 0px 30px;
    font-family: DM Serif Display;
}
.classBc>div>h4{
    color:$color4;

    /* H4 */
    // font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
.classBc>div>p{
    color: rgba(0, 0, 0, 0.50);

/* Text_Gray */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 5px;
}
.classBc>div:nth-child(2)>h4{
    margin-top:90px;
}
.classBc>div:nth-child(3)>h4{
    margin-top:105px;

}

//d
.classBd{
    width:60px;
    height:400px;
    // border:1px solid;
    margin:176px 0px 0px 50px;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);

}
.classBd>div:nth-child(1)>img{
width:60px;

}
.classBd>div:nth-child(2)>img{
    width:50px;
    margin-top: 131px;
    
    }
    .classBd>div:nth-child(3)>img{
        width:50px;
        margin-top: 124px;
    }
    // e

    .classBe{
        width:270px;
        height: 471px;
        // border:1px solid ;
        margin:168px 0px 0px 30px;
        font-family: DM Serif Display;
    }
    .classBe>div>h4{
        color:$color4;
    
        /* H4 */
        // font-family: DM Serif Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
    .classBe>div>p{
        color: rgba(0, 0, 0, 0.50);
    
    /* Text_Gray */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 5px;
    }
    .classBe>div:nth-child(2)>h4{
        margin-top:90px;
    }
    .classBe>div:nth-child(3)>h4{
        margin-top:105px;
    
    }
    @media all and (max-width:480px){
        #id164B{
            width:100%;
            height:1376px;
            // border:1px solid rosybrown;
            box-sizing: border-box;
            // display: flex;
            font-family: 'Kalnia', serif;
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: inline-block;
        }
        
        
        ///a
        .classBa{
            height:433px;
            width: 346px;
            // border:1px solid red;
            margin: 63px 0px 0px 6px;
            // padding:0px 0px 0px -14px 
           
           
        }
        .classBa>h5:nth-child(1){
            color:$color4;
        
        /* H5 */
        
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        
        }
        .classBa>h4{
            color: $color4;
            // margin-top: 21px;
        
        /* H2 */

           font-family: DM Serif Display;
           font-size: 40px;
           font-style: normal;
           font-weight: 400;
           line-height: 48px; /* 120% */
        }
        .classBa>p{
            color:$color4;
        //  margin-top: 40px;
        //  border:2px solid rgb(22, 51, 22);
        font-family: DM Serif Display;
        /* Text_Big */
        
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        }
        .classBa>button{
            color: #434CCC;
            // border:1px solid #7b81c9;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        border-radius:5px;
        font-weight: 700;
        line-height: 24px; /* 150% */
        padding:10px 55.5px 11px 55.5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 33px;
        }
        .classBa>button:hover{
            cursor: pointer;
            background-color: #e7e2e2;
        }
        // b--image
        .classBb{
            width:53px;
            height:320px;
            // border:1px solid blueviolet ;
            display: block;
            fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
            position: absolute;
            left:-70px;
            margin-top:128px;
            
        }
        .classBb>div:nth-child(2)>img{
            margin-top: 83px;
            width:48px;
        }
        .classBb>div:nth-child(3)>img{
            margin-top: 82px;
            width:49px;
        }
        
        
        //c
        .classBc{
            width:240px;
            height:340px;
            // border:3px solid rgb(71, 71, 29) ;
            // margin:168px 0px 0px 30px;
            font-family: DM Serif Display;
            // display:inline-block;
            position: relative;
            left: 65px;
            top:-40px;

        }
        .classBc>div>h4{
            color:$color4;
        
            /* H4 */
            // font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .classBc>div>p{
            color: rgba(0, 0, 0, 0.50);
        
        /* Text_Gray */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-top: 5px;
        }
        .classBc>div:nth-child(2)>h4{
            margin-top:45px;
        }
        .classBc>div:nth-child(3)>h4{
            margin-top:48px;
        
        }
        
        //d--image
        .classBd{
            width:60px;
            height:300px;
            // border:1px solid green;
            margin:176px 0px 0px 50px;
            fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
           
            
            position: absolute;
            left:-35px;
            margin-top:-10px;
           
        }
        .classBd>div:nth-child(1)>img{
        width:60px;
        
        }
        .classBd>div:nth-child(2)>img{
            width:50px;
            margin-top:76px;
            
            }
            .classBd>div:nth-child(3)>img{
                width:50px;
                margin-top: 79px;
            }
            // e
        
            .classBe{
                width:270px;
                height: 350px;
                // border:1px solid ;
                // margin:168px 0px 0px 30px;
                font-family: DM Serif Display;
               position: relative;
               left:60px;
               top:-173px;
            }
            .classBe>div>h4{
                color:$color4;
            
                /* H4 */
                // font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
            }
            .classBe>div>p{
                color: rgba(0, 0, 0, 0.50);
            
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-top: 5px;
            }
            .classBe>div:nth-child(2)>h4{
                margin-top:32px;
            }
            .classBe>div:nth-child(3)>h4{
                margin:43px 0px 0px 0px;
            
            }
    }