
// end part 3
$color6:black;
.unique1{
    width: 1440px; height: 1px; opacity: 0.0974; background:$color6;

}



//endpart 2


@media all and (max-width:480px){

    .unique1{
        width: 375px;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.0974;
         background:$color6;
    }


}