* {
  margin: 0%;
  padding: 0%;
}

* {
  padding: 0%;
  margin: 0%;
}

#main164 {
  width: 1440px;
  border: 1px solid white;
  box-sizing: border-box;
}

#id164A {
  width: 100%;
  height: 480px;
  color: white;
  border: 1px solid #434CCC;
  font-family: "Kalnia", serif;
  text-align: center;
  background-color: #434CCC;
}

#id164A > h3 {
  color: white;
  text-align: center;
  margin-top: 76px;
  /* H2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

#id164A > p {
  color: white;
  text-align: center;
  margin-top: 29px;
  padding: 0px 335px 0px 335px;
  /* Text_Big */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 160% */
}

.mainflexA {
  width: 1170px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 123px;
  margin: 50px 0px 0px 135px;
}

.mainflexA > div {
  width: 100%;
  height: 104px;
}

.mainflexA > div > p:nth-child(1) {
  text-align: center;
  /* H1 */
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 111.111% */
}

.mainflexA > div > p:nth-child(2) {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  /* Text_Gray */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

* {
  padding: 0%;
  margin: 0%;
}

#id164B {
  width: 100%;
  height: 768px;
  box-sizing: border-box;
  display: flex;
  font-family: "Kalnia", serif;
}

.classBa {
  height: 509px;
  width: 338px;
  margin: 111px 0px 0px 135px;
}

.classBa > h5:nth-child(1) {
  color: #000;
  /* H5 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.classBa > h4 {
  color: #000;
  margin-top: 21px;
  /* H2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 114.286% */
}

.classBa > p {
  color: #000;
  margin-top: 40px;
  font-family: DM Serif Display;
  /* Text_Big */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.classBa > button {
  color: #434CCC;
  border: 1px solid #7b81c9;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  border-radius: 5px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 10px 55.5px 11px 55.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 33px;
}

.classBa > button:hover {
  cursor: pointer;
  background-color: #e7e2e2;
}

.classBb {
  width: 53px;
  height: 401px;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  margin: 176px 0px 0px 83px;
}

.classBb > div:nth-child(2) > img {
  margin-top: 131px;
  width: 48px;
}

.classBb > div:nth-child(3) > img {
  margin-top: 128px;
  width: 49px;
}

.classBc {
  width: 270px;
  height: 471px;
  margin: 168px 0px 0px 30px;
  font-family: DM Serif Display;
}

.classBc > div > h4 {
  color: #000;
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.classBc > div > p {
  color: rgba(0, 0, 0, 0.5);
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 5px;
}

.classBc > div:nth-child(2) > h4 {
  margin-top: 90px;
}

.classBc > div:nth-child(3) > h4 {
  margin-top: 105px;
}

.classBd {
  width: 60px;
  height: 400px;
  margin: 176px 0px 0px 50px;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}

.classBd > div:nth-child(1) > img {
  width: 60px;
}

.classBd > div:nth-child(2) > img {
  width: 50px;
  margin-top: 131px;
}

.classBd > div:nth-child(3) > img {
  width: 50px;
  margin-top: 124px;
}

.classBe {
  width: 270px;
  height: 471px;
  margin: 168px 0px 0px 30px;
  font-family: DM Serif Display;
}

.classBe > div > h4 {
  color: #000;
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.classBe > div > p {
  color: rgba(0, 0, 0, 0.5);
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 5px;
}

.classBe > div:nth-child(2) > h4 {
  margin-top: 90px;
}

.classBe > div:nth-child(3) > h4 {
  margin-top: 105px;
}

#id164C {
  height: 768px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.id164Ca {
  width: 650px;
  height: 500px;
  margin: 135px 0px 0px 135px;
  padding: 5px 5px 5px 0px;
}
.id164Ca .id164Ca > img {
  width: 100%;
}

.id164Cb {
  height: 361px;
  margin: 191px 0px 0px 62px;
}

.id164Cb > h6 {
  color: black;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.id164Cb > h3 {
  color: black;
  padding-right: 180px;
  height: 128px;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.id164Cb > p {
  color: black;
  margin-top: 29px;
  padding-right: 310px;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.id164Cb > button {
  border-radius: 5px;
  color: white;
  background: #434CCC;
  margin-top: 32px;
  padding: 13px 43.5px 11px 43.5px;
  border: 1px solid #434CCC;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.id164Cb > button:hover {
  background-color: #2731b9;
  cursor: pointer;
}/*# sourceMappingURL=main164.css.map */