// @import "_body1.scss";
// @import "_header.scss";

*{
    margin: 0;
    padding: 0;
}
.body1{
    width: 1440px;
    height: 768px;
    // background-color:  #F5F6FD;
    justify-content: space-between;

    div{
        margin-left: 135px;
        margin-top: 127px;
        width: 570px;
        position: absolute;
        h5{
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            letter-spacing: 4.8px;
            text-transform: uppercase;
        }
        h2{
            margin-top: 21px;
            font-family: 'DM Serif Display', serif;
            font-size: 56px;
            font-weight: 400;
            line-height: 64px;
            letter-spacing: 0.5px; 
        }
        p{
            margin-top: 29px;
            font-family: 'DM Sans', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.5px; 
        }
        div{
            margin: 0%;
            margin-top: 20px;
            div:nth-child(1){
                width: 270px;
                h3{
                    font-family: 'DM Serif Display', serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.5px; 
                }
                p:nth-child(2){
                    margin-top: 5px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.5px; 
                }
                p:nth-child(3){
                    margin-top: 8px;
                    color: rgba(0, 0, 0, 0.50);
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.5px; 
                }
            }
            div:nth-child(2){
                margin-left: 335px;
                width: 270px;
                h3{
                    font-family: 'DM Serif Display', serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 48px;
                    letter-spacing: 0.5px; 
                }
                p:nth-child(2){
                    margin-top: 5px;
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.5px; 
                }
                p:nth-child(3){
                    margin-top: 8px;
                    color: rgba(0, 0, 0, 0.50);
                    font-family: 'DM Sans', sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.5px; 
                }
            }
        }
    }
    img{
       
        margin-top: 90px;
        margin-left: 780px;
    }
}

@media all and (max-width:480px){
    .body1{
        width: 375px;
        height: 1152px;
        margin-left: 14px;
        margin-bottom: 100px;
       
    
        div{
            margin-left: 14px;
            margin-top: 47px;
            width: 346px;
         
            h5{
               
            }
            h2{
               
                font-size: 40px;
              
            }
            p{
               
            }
            div{
              
                display: flex;
                flex-direction: column;
                position: relative;
                div:nth-child(1){
                    width: 270px;
                    h3{
                       
                        margin-left: 0px;
                    }
                    p:nth-child(2){
                        margin-left: 0px;
                      
                    }
                    p:nth-child(3){
                     
                    }
                }
                div:nth-child(2){
                    margin-left: 0px;
                    width: 270px;
                    h3{
                        margin-left: 0px;
                        
                    }
                    p:nth-child(2){
                        margin-left: 0px;
                        
                      
                    }
        
                }
            }
        }
        img{
           
            margin-top: 750px;
            margin-right: 1px;
            margin-left: 25px;
            width: 400px;
            height: 431px;
        }
    }
}







// Nav bar css
.nav-bar h3{
    color: var(--Text_White, #FFF);

/* H3 */
margin-left: 135px;
font-family: DM Serif Display;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 48px; /* 120% */
}
.nav-bar{
    display: flex;
   justify-content: space-between;
   align-items: center;
   width: 1440px;
   height: 80px;
   flex-shrink: 0;
   background: #434CCC;
}
.nav-bar{

        ul {
          margin-right: 135px;
          padding: 0;
          list-style: none;
        }
        li {
          display: inline-block;

        }

        a {
            color: var(--Text_White, #FFF);
text-align: right;

/* Text */
font-family: 'DM Sans';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
          display: block;
          text-decoration: none;
          margin-right: 30px;
        }
      button{
        width: 170px;
        cursor: pointer;
height: 48px;
flex-shrink: 0;
color: #FFFFFF;
background-color:#434CCC ;
border: #FFFFFF4D 1px solid;
border-radius: 5px;

      }
      
}
#burger{
    display: none;
     width: 20px;
     height: 14px;
     flex-shrink: 0;
     color: #FFF;

   }
.about{
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 1440px;
height: 224px;
flex-shrink: 0;
background: #434CCC;

h1{
  color: var(--Text_White, #FFF);
text-align: center;

/* H1 */
font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 111.111% */
margin-bottom: 10px;
margin-right: 622px;
margin-left: 623px;
margin-top: 47px;
}
p{
  color: var(--Text_White, #FFF);
text-align: center;

/* Text_Big */
font-family: "DM Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 160% */
margin-bottom: 55px;
margin-right: 596px;
margin-left: 597px;
}
}

@media all and (max-width: 480px) {
    .nav-bar ul {
        display: none;
      }
  #burger{
   position: absolute;
    right: 25px;
    
   margin-top: 10px;
    display: block;
    color: #FFF;
    cursor: pointer;
    width: 20px;
    height: 14pxes;
  }
 
.nav-bar{
    
    width: 375px;
height: 64px;
flex-shrink: 0;
    div{
        h3{
            color: #FFF;
font-family: "DM Serif" Display;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-left: 15px;
margin-top: 16px;
height: 32px;
width: 62px;
        }
    }
}
.about{
    height: 176px;
    width: 375px;
    background-color: rgba(67, 76, 204, 1);

    h1{
     margin-bottom: 13px;
        font-size: 56px;
    
    }
    p{
        color: var(--Text_White, #FFF);
text-align: center;

/* Text_Big */
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 35px;
width: 247px;
height: 32px;
    }
    
}
header{
    background: #434CCC;
}
}

// Prasad css


*{
    margin: 0;
    padding: 0;
    // box-sizing: border-box;
    // width: 100%;
    
}

.main-con{
    height: auto;
    width: 1440px;
   background-color: #F5F6FD;
   padding-bottom: 30px;
//    background: #F5F6FD;
}

@mixin justify{
       
    height: 10rem;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 

}


.child1{
    @include justify;


    p{
        font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 29px;
   
    }
    
     h2{
    font-family:  Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-top: 60px;
    }

}


.child2{
   height: auto;
   width: 1440px;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:30px;
   display: flex;
   justify-content: space-evenly;
   margin-top: 56px;
   flex-wrap: wrap;
   padding-bottom:  30px;
}

@media screen and (max-width:480px) {
   .main-con{
    width: 451px;
   } 
.child2{
    grid-template-columns: repeat(1,1fr);
    width: 430px;
}
.child1{
   
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
  
  
   
}

} 



.box{
    border-radius: 5px;
    background: #FFF;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);


    img{
         width: 146px;
         height: 96px;
         margin-top: 3rem;
         margin-left: 5.7rem;
         flex-shrink: 0;
         fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    }

    h3{
        font-family: DM Serif Display;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
         margin-top: 46px;
         padding: 10px;
    }
    p{
        padding: 10px;
    }

    hr{
        width: 338px;
     height: 1px;
flex-shrink: 0;
opacity: 0.1011;
background: #000;
color: #000000;
    }
    
     .foo h4{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;  
        padding: 20px; 

      
     }
   
.foo{
    display: flex;
    // justify-content: baseline;
span{
    margin-top:20px ;
   
}
}



}




// con 2

.con2{

    box-sizing: border-box;
    // width: 100vw;
    width: 1440px;
 
height: auto;
display: flex;
background-color: #f5f6fc;

.box1{

    width: 50%;
    height: auto;
}

.box1 img{
    width: 601px;
height: 603px;

}

.box2 {
     width: 40%;

    h3{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase; 
        margin-top: 98px;
    }
    h2{
        font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px;
margin-top: 26px;
    }

.para{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.para1 {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 24px;
    line-height: 24px;   
    display: flex;
    // flex-wrap: wrap;
    // text-align: center;
    p{
        margin: 8px;
    }

    img{
        fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
        width: 35px;
height: 40px;
flex-shrink: 0;
    }
}

.para2{
    font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 26px;
display: flex;
// text-align: center;
p{
    margin: 8px;
}

img{
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    width: 35px;
height: 40px;
flex-shrink: 0;
}
}



.para3{
     margin-top: 26px;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    // text-align: center;
    p{
        margin: 8px;
    }

    img{
        fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
        width: 35px;
height: 40px;
flex-shrink: 0;
    }


}

.btn1{
    width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: var(--Primary_1, #434CCC);
margin-top: 56px;
color: white;
border: none;
}
.btn2{
    width: 170px;
height: 48px;
flex-shrink: 0;
margin-left: 30px;
border: none;
color: #434CCC;

}


}




}

@media screen and (max-width:480px) {
   
   .child1{
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
   }
   
   
  
   
    .con2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        margin: auto;
        width: 451px;
        // text-align: center;
        padding-bottom: 40px;

         .box1 img{
            margin-left: 10px;
                width: 401px;
            height: 603px;
         
         }

        

         .box2{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: center;
            margin: auto;
      
           h2{
            margin-left: -40px;
           }
         }
        
           



    }    
    .box2 p{
         text-align: center;
         display: flex;
          flex-wrap: wrap;
         justify-content: center;
         align-items: center;
    
   



        }

       .box2{


        h2 span{
            margin-left: 50px;
        }
       } 
           


    .btn1{
        margin-left: 30px;
        margin-bottom: 10px;
    }
   
   
}

*{
    margin: 0%;
    padding: 0%;
}
// @import "mainpart1";
// @import "mainpart2";
// @import "mainpart3";
// @import "mainpart4";
$color1:#434CCC;
$color2:#ffff;
$color3: rgba(255, 255, 255, 0.50);

*{
    padding: 0%;
    margin:0%;

}

#main164{

    width:1440px;
    border:1px solid white;
    box-sizing:border-box;

}
#id164A{
    // width:1440px;
    width:100%;
    height: 480px;
    color:$color2;

    border:1px solid #434CCC;
    // font-family: 'Bodoni Moda', serif;
    font-family: 'Kalnia', serif;
    text-align: center;
   background-color: #434CCC;
//    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
#id164A>h3{
    // width:327px;
    // height:64px;
    // border:1px solid rgb(3, 22, 3);
    color:$color2;
text-align: center;
margin-top:76px;

/* H2 */
// font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px; /* 114.286% */
}
#id164A>p{
//     width: 770px;
// height: 83px;
// flex-shrink: 0;
// border:1px solid yellow;
color: $color2;
text-align: center;
// margin: 29px 335px 0px 335px;
margin-top:29px;
padding:0px 335px 0px 335px;

/* Text_Big */
// font-family: DM Serif Display;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 160% */
}
.mainflexA{
    width:1170px;
    height: 104px;
    // border:2px solid blueviolet;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 123px;
    margin:50px 0px 0px 135px ;
    
}
.mainflexA>div{
    width:100%;
    height:104px;
//   border:1px solid black;
 
}
// .mainflexA>div:nth-child(1){
//     height:104px;
//     border:1px solid black;
    
//     }
    // 1
    // .mainflexA>div:nth-child(1)>p:nth-child(1){
        .mainflexA>div>p:nth-child(1){
        text-align: center;
        
        /* H1 */
        font-family: DM Serif Display;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 80px; /* 111.111% */
            }
//   .mainflexA>div:nth-child(1)>p:nth-child(2){
    .mainflexA>div>p:nth-child(2){
    color:$color3;
text-align: center;

/* Text_Gray */
// font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
 }
//  2
// .mainflexA>div:nth-child(2){
//     height:104px;
//     border:1px solid black;
// }
// >p:nth-child(1)

// MAIN PART--2

@media all and (max-width:480px){

    #main164{

       width:480px;
       height:3104px;
        border:1px solid white;
        box-sizing:border-box;
    
    }
    
    #id164A{
        // width:1440px;
        width:100%;
        height:869px;
        color:$color2;
    
    
        border:none;
        // font-family: 'Bodoni Moda', serif;
        font-family: 'Kalnia', serif;
        text-align: center;
       background-color: #434CCC;
    //    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
    #id164A>h3{
        // width:327px;
        // height:64px;
        // border:1px solid rgb(3, 22, 3);
        color:$color2;
    text-align: center;
    // margin-top:76px;
    
    /* H2 */
    // font-family: DM Serif Display;
    
    
    
    /* H3 */
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
    }
    #id164A>p{
    // border:1px solid yellow;
    color: $color2;
    text-align: center;
    // margin: 29px 335px 0px 335px;
    // margin-top:29px;
    padding:0px 15px 0px 15px;
    
    /* Text_Big */
    // font-family: DM Serif Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 160% */
    }
    .mainflexA{
        width:270px;
        height: 392px;
    //    border:1px solid red;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-left: 123px;
        // margin:52px 0px 0px 53px ;
        
    }
    .mainflexA>div{
        width:100%;
        height:104px;
    //   border:1px solid black;
     
    }
   
            .mainflexA>div>p:nth-child(1){
            text-align: center;
            
            /* H1 */
            font-family: DM Serif Display;
            font-size: 72px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px; /* 111.111% */
                }
    //   .mainflexA>div:nth-child(1)>p:nth-child(2){
        .mainflexA>div>p:nth-child(2){
        color:$color3;
    text-align: center;
    
    /* Text_Gray */
    // font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
     }
}

// Mainpart2
*{
    padding:0%;
    margin:0%;

}
// Main Part-2
$color4:#000;

#id164B{
    width:100%;
    height:768px;
    // border:1px solid rosybrown;
    box-sizing: border-box;
    display: flex;
    font-family: 'Kalnia', serif;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


///a
.classBa{
    height:509px;
    width:338px;
    // border:1px solid ;
    margin: 111px 0px 0px 135px;
}
.classBa>h5:nth-child(1){
    color:$color4;

/* H5 */

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;

}
.classBa>h4{
    color: $color4;
    margin-top: 21px;

/* H2 */

font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 64px; /* 114.286% */
}
.classBa>p{
    color:$color4;
 margin-top: 40px;
//  border:1px solid ;
font-family: DM Serif Display;
/* Text_Big */

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.classBa>button{
    color: #434CCC;
    border:1px solid #7b81c9;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
border-radius:5px;
font-weight: 700;
line-height: 24px; /* 150% */
padding:10px 55.5px 11px 55.5px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-top: 33px;
}
.classBa>button:hover{
    cursor: pointer;
    background-color: #e7e2e2;
}
// b
.classBb{
    width:53px;
    height:401px;
    // border:1px solid ;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    margin: 176px 0px 0px 83px;
}
.classBb>div:nth-child(2)>img{
    margin-top: 131px;
    width:48px;
}
.classBb>div:nth-child(3)>img{
    margin-top: 128px;
    width:49px;
}


//c
.classBc{
    width:270px;
    height: 471px;
    // border:1px solid ;
    margin:168px 0px 0px 30px;
    font-family: DM Serif Display;
}
.classBc>div>h4{
    color:$color4;

    /* H4 */
    // font-family: DM Serif Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
}
.classBc>div>p{
    color: rgba(0, 0, 0, 0.50);

/* Text_Gray */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-top: 5px;
}
.classBc>div:nth-child(2)>h4{
    margin-top:90px;
}
.classBc>div:nth-child(3)>h4{
    margin-top:105px;

}

//d
.classBd{
    width:60px;
    height:400px;
    // border:1px solid;
    margin:176px 0px 0px 50px;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);

}
.classBd>div:nth-child(1)>img{
width:60px;

}
.classBd>div:nth-child(2)>img{
    width:50px;
    margin-top: 131px;
    
    }
    .classBd>div:nth-child(3)>img{
        width:50px;
        margin-top: 124px;
    }
    // e

    .classBe{
        width:270px;
        height: 471px;
        // border:1px solid ;
        margin:168px 0px 0px 30px;
        font-family: DM Serif Display;
    }
    .classBe>div>h4{
        color:$color4;
    
        /* H4 */
        // font-family: DM Serif Display;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 133.333% */
    }
    .classBe>div>p{
        color: rgba(0, 0, 0, 0.50);
    
    /* Text_Gray */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 5px;
    }
    .classBe>div:nth-child(2)>h4{
        margin-top:90px;
    }
    .classBe>div:nth-child(3)>h4{
        margin-top:105px;
    
    }
    @media all and (max-width:480px){
        #id164B{
            width:100%;
            height:1376px;
            // border:1px solid rosybrown;
            box-sizing: border-box;
            // display: flex;
            font-family: 'Kalnia', serif;
            // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            display: inline-block;
        }
        
        
        ///a
        .classBa{
            height:433px;
            width: 346px;
            // border:1px solid red;
            margin: 63px 0px 0px 6px;
            // padding:0px 0px 0px -14px 
           
           
        }
        .classBa>h5:nth-child(1){
            color:$color4;
        
        /* H5 */
        
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase;
        
        }
        .classBa>h4{
            color: $color4;
            // margin-top: 21px;
        
        /* H2 */

           font-family: DM Serif Display;
           font-size: 40px;
           font-style: normal;
           font-weight: 400;
           line-height: 48px; /* 120% */
        }
        .classBa>p{
            color:$color4;
        //  margin-top: 40px;
        //  border:2px solid rgb(22, 51, 22);
        font-family: DM Serif Display;
        /* Text_Big */
        
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        }
        .classBa>button{
            color: #434CCC;
            // border:1px solid #7b81c9;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        border-radius:5px;
        font-weight: 700;
        line-height: 24px; /* 150% */
        padding:10px 55.5px 11px 55.5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        margin-top: 33px;
        }
        .classBa>button:hover{
            cursor: pointer;
            background-color: #e7e2e2;
        }
        // b--image
        .classBb{
            width:53px;
            height:320px;
            // border:1px solid blueviolet ;
            display: block;
            fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
            position: absolute;
            left:-70px;
            margin-top:128px;
            
        }
        .classBb>div:nth-child(2)>img{
            margin-top: 83px;
            width:48px;
        }
        .classBb>div:nth-child(3)>img{
            margin-top: 82px;
            width:49px;
        }
        
        
        //c
        .classBc{
            width:240px;
            height:340px;
            // border:3px solid rgb(71, 71, 29) ;
            // margin:168px 0px 0px 30px;
            font-family: DM Serif Display;
            // display:inline-block;
            position: relative;
            left: 65px;
            top:-40px;

        }
        .classBc>div>h4{
            color:$color4;
        
            /* H4 */
            // font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px; /* 133.333% */
        }
        .classBc>div>p{
            color: rgba(0, 0, 0, 0.50);
        
        /* Text_Gray */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        margin-top: 5px;
        }
        .classBc>div:nth-child(2)>h4{
            margin-top:45px;
        }
        .classBc>div:nth-child(3)>h4{
            margin-top:48px;
        
        }
        
        //d--image
        .classBd{
            width:60px;
            height:300px;
            // border:1px solid green;
            margin:176px 0px 0px 50px;
            fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
           
            
            position: absolute;
            left:-35px;
            margin-top:-10px;
           
        }
        .classBd>div:nth-child(1)>img{
        width:60px;
        
        }
        .classBd>div:nth-child(2)>img{
            width:50px;
            margin-top:76px;
            
            }
            .classBd>div:nth-child(3)>img{
                width:50px;
                margin-top: 79px;
            }
            // e
        
            .classBe{
                width:270px;
                height: 350px;
                // border:1px solid ;
                // margin:168px 0px 0px 30px;
                font-family: DM Serif Display;
               position: relative;
               left:60px;
               top:-173px;
            }
            .classBe>div>h4{
                color:$color4;
            
                /* H4 */
                // font-family: DM Serif Display;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px; /* 133.333% */
            }
            .classBe>div>p{
                color: rgba(0, 0, 0, 0.50);
            
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-top: 5px;
            }
            .classBe>div:nth-child(2)>h4{
                margin-top:32px;
            }
            .classBe>div:nth-child(3)>h4{
                margin:43px 0px 0px 0px;
            
            }
    }


    $color5:black;

#id164C{
   height:768px;
    width:100%;
    // border:4px solid ;
    // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    box-sizing: border-box;
    
}

.id164Ca{
    width:650px;
    height:500px;
    // border:1px solid red;
    margin:135px 0px 0px 135px ;
    padding:5px 5px 5px 0px; 
    .id164Ca>img{
        width:100%;

    }

}
.id164Cb{
   height:361px;
//    border:1px solid ;
   margin: 191px 0px 0px 62px;
   
}
.id164Cb>h6{
    color:black;

/* H5 */
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 4.8px;
text-transform: uppercase;
}
.id164Cb>h3{
    color:$color5;
 padding-right:180px;
//  border:1px solid;
 height: 128px;
    /* H2 */
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 114.286% */
}
.id164Cb>p{
    color: $color5;
  margin-top:29px;
  padding-right:310px;
/* Text_Big */
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.id164Cb>button{
    border-radius: 5px;
    color: #ffff;
background:#434CCC;
margin-top: 32px;
padding:13px 43.5px 11px 43.5px;
border: 1px solid #434CCC;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.id164Cb>button:hover{
    background-color: #2731b9;
    cursor: pointer;
}

@media all and (max-width:480px){

    #id164C{
        height: 832px;
         width:100%;
        //  border:4px solid ;
         // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
         display: block;
         box-sizing: border-box;
         
     }
     
     .id164Ca{
        width: 330.639px;
        height: 305.208px;
        flex-shrink: 0;
        //  border:1px solid red;
         margin:10px 0px 0px 10px ;
         padding:5px 5px 5px 0px; 
        
     
     }
     .id164Ca>img{
        // width:330px;
        width: 100%;

    }
     .id164Cb{
        height:385px;
        // border:1px solid ;
        margin: 10px 0px 0px 8px;
        box-sizing: border-box;
     }
     .id164Cb>h6{
         color:black;
     
     /* H5 */
     font-family: DM Sans;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 24px; /* 150% */
     letter-spacing: 4.8px;
     text-transform: uppercase;
     }
     .id164Cb>h3{
        display: inline;
        box-sizing: border-box;
         color:$color5;
        margin:0px 0px 0px 0px ;
    //   border:1px solid green;
      height: 96px;
         font-family: DM Serif Display;
         font-size: 40px;
         font-style: normal;
         font-weight: 400;
         line-height: 48px; /* 120% */
     }
     .id164Cb>p{
        display: inline-block;
        // width: 100%;
        // height:135px;
         color: $color5;
       margin:0px 0px 0px 0px ;
       padding:0px 0px 0px 0px;
    border:1px solid white;
   
/* Text_Big */
font-family: DM Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
     }
     .id164Cb>button{
         border-radius: 5px;
         color: #ffff;
     background:#434CCC;
     margin-top: 32px;
     padding:13px 43.5px 11px 43.5px;
     border: 1px solid #434CCC;
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     }
     .id164Cb>button:hover{
         background-color: #2731b9;
         cursor: pointer;
     }



}


// end part 3
$color6:black;
.unique1{
    width: 1440px; height: 1px; opacity: 0.0974; background:$color6;

}



//endpart 2


@media all and (max-width:480px){

    .unique1{
        width: 375px;
        height: 1px;
        flex-shrink: 0;
        opacity: 0.0974;
         background:$color6;
    }


}