* {
  margin: 0;
  padding: 0;
}

.body1 {
  width: 1440px;
  height: 768px;
  justify-content: space-between;
}
.body1 div {
  margin-left: 135px;
  margin-top: 127px;
  width: 570px;
  position: absolute;
}
.body1 div h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 4.8px;
  text-transform: uppercase;
}
.body1 div h2 {
  margin-top: 21px;
  font-family: "DM Serif Display", serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.5px;
}
.body1 div p {
  margin-top: 29px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.body1 div div {
  margin: 0%;
  margin-top: 20px;
}
.body1 div div div:nth-child(1) {
  width: 270px;
}
.body1 div div div:nth-child(1) h3 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.body1 div div div:nth-child(1) p:nth-child(2) {
  margin-top: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body1 div div div:nth-child(1) p:nth-child(3) {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body1 div div div:nth-child(2) {
  margin-left: 335px;
  width: 270px;
}
.body1 div div div:nth-child(2) h3 {
  font-family: "DM Serif Display", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.5px;
}
.body1 div div div:nth-child(2) p:nth-child(2) {
  margin-top: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body1 div div div:nth-child(2) p:nth-child(3) {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
.body1 img {
  margin-top: 90px;
  margin-left: 780px;
}

@media all and (max-width: 480px) {
  .body1 {
    width: 375px;
    height: 1152px;
    margin-left: 14px;
    margin-bottom: 100px;
  }
  .body1 div {
    margin-left: 14px;
    margin-top: 47px;
    width: 346px;
  }
  .body1 div h2 {
    font-size: 40px;
  }
  .body1 div div {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .body1 div div div:nth-child(1) {
    width: 270px;
  }
  .body1 div div div:nth-child(1) h3 {
    margin-left: 0px;
  }
  .body1 div div div:nth-child(1) p:nth-child(2) {
    margin-left: 0px;
  }
  .body1 div div div:nth-child(2) {
    margin-left: 0px;
    width: 270px;
  }
  .body1 div div div:nth-child(2) h3 {
    margin-left: 0px;
  }
  .body1 div div div:nth-child(2) p:nth-child(2) {
    margin-left: 0px;
  }
  .body1 img {
    margin-top: 750px;
    margin-right: 1px;
    margin-left: 25px;
    width: 400px;
    height: 431px;
  }
}
.nav-bar h3 {
  color: var(--Text_White, #FFF);
  /* H3 */
  margin-left: 135px;
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
  height: 80px;
  flex-shrink: 0;
  background: #434CCC;
}

.nav-bar ul {
  margin-right: 135px;
  padding: 0;
  list-style: none;
}
.nav-bar li {
  display: inline-block;
}
.nav-bar a {
  color: var(--Text_White, #FFF);
  text-align: right;
  /* Text */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  display: block;
  text-decoration: none;
  margin-right: 30px;
}
.nav-bar button {
  width: 170px;
  cursor: pointer;
  height: 48px;
  flex-shrink: 0;
  color: #FFFFFF;
  background-color: #434CCC;
  border: rgba(255, 255, 255, 0.3019607843) 1px solid;
  border-radius: 5px;
}

#burger {
  display: none;
  width: 20px;
  height: 14px;
  flex-shrink: 0;
  color: #FFF;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1440px;
  height: 224px;
  flex-shrink: 0;
  background: #434CCC;
}
.about h1 {
  color: var(--Text_White, #FFF);
  text-align: center;
  /* H1 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 111.111% */
  margin-bottom: 10px;
  margin-right: 622px;
  margin-left: 623px;
  margin-top: 47px;
}
.about p {
  color: var(--Text_White, #FFF);
  text-align: center;
  /* Text_Big */
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 160% */
  margin-bottom: 55px;
  margin-right: 596px;
  margin-left: 597px;
}

@media all and (max-width: 480px) {
  .nav-bar ul {
    display: none;
  }
  #burger {
    position: absolute;
    right: 25px;
    margin-top: 10px;
    display: block;
    color: #FFF;
    cursor: pointer;
    width: 20px;
    height: 14pxes;
  }
  .nav-bar {
    width: 375px;
    height: 64px;
    flex-shrink: 0;
  }
  .nav-bar div h3 {
    color: #FFF;
    font-family: "DM Serif" Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-left: 15px;
    margin-top: 16px;
    height: 32px;
    width: 62px;
  }
  .about {
    height: 176px;
    width: 375px;
    background-color: rgb(67, 76, 204);
  }
  .about h1 {
    margin-bottom: 13px;
    font-size: 56px;
  }
  .about p {
    color: var(--Text_White, #FFF);
    text-align: center;
    /* Text_Big */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-bottom: 35px;
    width: 247px;
    height: 32px;
  }
  header {
    background: #434CCC;
  }
}
* {
  margin: 0;
  padding: 0;
}

.main-con {
  height: auto;
  width: 100vw;
  background-color: #F5F6FD;
  padding-bottom: 30px;
}

.child1 {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.child1 p {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 29px;
}
.child1 h2 {
  font-family: Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 60px;
}

.child2 {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 56px;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .child2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .child1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }
}
.box {
  border-radius: 5px;
  background: #FFF;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}
.box img {
  width: 146px;
  height: 96px;
  margin-top: 3rem;
  margin-left: 5.7rem;
  flex-shrink: 0;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}
.box h3 {
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 46px;
  padding: 10px;
}
.box p {
  padding: 10px;
}
.box hr {
  width: 338px;
  height: 1px;
  flex-shrink: 0;
  opacity: 0.1011;
  background: #000;
  color: #000000;
}
.box .foo h4 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  padding: 20px;
}
.box .foo {
  display: flex;
}
.box .foo span {
  margin-top: 20px;
}

.con2 {
  box-sizing: border-box;
  height: auto;
  display: flex;
  background-color: #f5f6fc;
}
.con2 .box1 {
  width: 50%;
  height: auto;
}
.con2 .box1 img {
  width: 601px;
  height: 603px;
}
.con2 .box2 {
  width: 40%;
}
.con2 .box2 h3 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
  margin-top: 98px;
}
.con2 .box2 h2 {
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin-top: 26px;
}
.con2 .box2 .para {
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.con2 .box2 .para1 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-top: 24px;
  line-height: 24px;
  display: flex;
}
.con2 .box2 .para1 p {
  margin: 8px;
}
.con2 .box2 .para1 img {
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  width: 35px;
  height: 40px;
  flex-shrink: 0;
}
.con2 .box2 .para2 {
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 26px;
  display: flex;
}
.con2 .box2 .para2 p {
  margin: 8px;
}
.con2 .box2 .para2 img {
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  width: 35px;
  height: 40px;
  flex-shrink: 0;
}
.con2 .box2 .para3 {
  margin-top: 26px;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  display: flex;
}
.con2 .box2 .para3 p {
  margin: 8px;
}
.con2 .box2 .para3 img {
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  width: 35px;
  height: 40px;
  flex-shrink: 0;
}
.con2 .box2 .btn1 {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--Primary_1, #434CCC);
  margin-top: 56px;
  color: white;
  border: none;
}
.con2 .box2 .btn2 {
  width: 170px;
  height: 48px;
  flex-shrink: 0;
  margin-left: 30px;
  border: none;
  color: #434CCC;
}

@media screen and (max-width: 480px) {
  .child1 {
    display: flex;
    flex-direction: column;
  }
  .con2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    padding-bottom: 40px;
  }
  .con2 .box1 img {
    margin-left: 10px;
    width: 401px;
    height: 603px;
  }
  .con2 .box2 {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .con2 .box2 h2 {
    margin-left: -40px;
  }
  .box2 p {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .box2 h2 span {
    margin-left: 50px;
  }
  .btn1 {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}
* {
  margin: 0%;
  padding: 0%;
}

* {
  padding: 0%;
  margin: 0%;
}

#main164 {
  width: 1440px;
  border: 1px solid white;
  box-sizing: border-box;
}

#id164A {
  width: 100%;
  height: 480px;
  color: white;
  border: 1px solid #434CCC;
  font-family: "Kalnia", serif;
  text-align: center;
  background-color: #434CCC;
}

#id164A > h3 {
  color: white;
  text-align: center;
  margin-top: 76px;
  /* H2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

#id164A > p {
  color: white;
  text-align: center;
  margin-top: 29px;
  padding: 0px 335px 0px 335px;
  /* Text_Big */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 160% */
}

.mainflexA {
  width: 1170px;
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 123px;
  margin: 50px 0px 0px 135px;
}

.mainflexA > div {
  width: 100%;
  height: 104px;
}

.mainflexA > div > p:nth-child(1) {
  text-align: center;
  /* H1 */
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 111.111% */
}

.mainflexA > div > p:nth-child(2) {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  /* Text_Gray */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media all and (max-width: 480px) {
  #main164 {
    width: 367px;
    height: 3104px;
    border: 1px solid white;
    box-sizing: border-box;
  }
  #id164A {
    width: 100%;
    height: 869px;
    color: white;
    border: 1px solid #434CCC;
    font-family: "Kalnia", serif;
    text-align: center;
    background-color: #434CCC;
  }
  #id164A > h3 {
    color: white;
    text-align: center;
    /* H2 */
    /* H3 */
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  #id164A > p {
    color: white;
    text-align: center;
    padding: 0px 15px 0px 15px;
    /* Text_Big */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 160% */
  }
  .mainflexA {
    width: 270px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 52px 0px 0px 53px;
  }
  .mainflexA > div {
    width: 100%;
    height: 104px;
  }
  .mainflexA > div > p:nth-child(1) {
    text-align: center;
    /* H1 */
    font-family: DM Serif Display;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 111.111% */
  }
  .mainflexA > div > p:nth-child(2) {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    /* Text_Gray */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
}
* {
  padding: 0%;
  margin: 0%;
}

#id164B {
  width: 100%;
  height: 768px;
  box-sizing: border-box;
  display: flex;
  font-family: "Kalnia", serif;
}

.classBa {
  height: 509px;
  width: 338px;
  margin: 111px 0px 0px 135px;
}

.classBa > h5:nth-child(1) {
  color: #000;
  /* H5 */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.classBa > h4 {
  color: #000;
  margin-top: 21px;
  /* H2 */
  font-size: 56px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px; /* 114.286% */
}

.classBa > p {
  color: #000;
  margin-top: 40px;
  font-family: DM Serif Display;
  /* Text_Big */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.classBa > button {
  color: #434CCC;
  border: 1px solid #7b81c9;
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  border-radius: 5px;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 10px 55.5px 11px 55.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 33px;
}

.classBa > button:hover {
  cursor: pointer;
  background-color: #e7e2e2;
}

.classBb {
  width: 53px;
  height: 401px;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
  margin: 176px 0px 0px 83px;
}

.classBb > div:nth-child(2) > img {
  margin-top: 131px;
  width: 48px;
}

.classBb > div:nth-child(3) > img {
  margin-top: 128px;
  width: 49px;
}

.classBc {
  width: 270px;
  height: 471px;
  margin: 168px 0px 0px 30px;
  font-family: DM Serif Display;
}

.classBc > div > h4 {
  color: #000;
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.classBc > div > p {
  color: rgba(0, 0, 0, 0.5);
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 5px;
}

.classBc > div:nth-child(2) > h4 {
  margin-top: 90px;
}

.classBc > div:nth-child(3) > h4 {
  margin-top: 105px;
}

.classBd {
  width: 60px;
  height: 400px;
  margin: 176px 0px 0px 50px;
  fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
}

.classBd > div:nth-child(1) > img {
  width: 60px;
}

.classBd > div:nth-child(2) > img {
  width: 50px;
  margin-top: 131px;
}

.classBd > div:nth-child(3) > img {
  width: 50px;
  margin-top: 124px;
}

.classBe {
  width: 270px;
  height: 471px;
  margin: 168px 0px 0px 30px;
  font-family: DM Serif Display;
}

.classBe > div > h4 {
  color: #000;
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}

.classBe > div > p {
  color: rgba(0, 0, 0, 0.5);
  /* Text_Gray */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 5px;
}

.classBe > div:nth-child(2) > h4 {
  margin-top: 90px;
}

.classBe > div:nth-child(3) > h4 {
  margin-top: 105px;
}

@media all and (max-width: 480px) {
  #id164B {
    width: 100%;
    height: 1376px;
    box-sizing: border-box;
    font-family: "Kalnia", serif;
    display: inline-block;
  }
  .classBa {
    height: 433px;
    width: 346px;
    margin: 63px 0px 0px 6px;
  }
  .classBa > h5:nth-child(1) {
    color: #000;
    /* H5 */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
  .classBa > h4 {
    color: #000;
    /* H2 */
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  .classBa > p {
    color: #000;
    font-family: DM Serif Display;
    /* Text_Big */
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
  .classBa > button {
    color: #434CCC;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    border-radius: 5px;
    font-weight: 700;
    line-height: 24px; /* 150% */
    padding: 10px 55.5px 11px 55.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 33px;
  }
  .classBa > button:hover {
    cursor: pointer;
    background-color: #e7e2e2;
  }
  .classBb {
    width: 53px;
    height: 320px;
    display: block;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    position: absolute;
    left: -70px;
    margin-top: 128px;
  }
  .classBb > div:nth-child(2) > img {
    margin-top: 83px;
    width: 48px;
  }
  .classBb > div:nth-child(3) > img {
    margin-top: 82px;
    width: 49px;
  }
  .classBc {
    width: 240px;
    height: 340px;
    font-family: DM Serif Display;
    position: relative;
    left: 65px;
    top: -40px;
  }
  .classBc > div > h4 {
    color: #000;
    /* H4 */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }
  .classBc > div > p {
    color: rgba(0, 0, 0, 0.5);
    /* Text_Gray */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 5px;
  }
  .classBc > div:nth-child(2) > h4 {
    margin-top: 45px;
  }
  .classBc > div:nth-child(3) > h4 {
    margin-top: 48px;
  }
  .classBd {
    width: 60px;
    height: 300px;
    margin: 176px 0px 0px 50px;
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    position: absolute;
    left: -35px;
    margin-top: -10px;
  }
  .classBd > div:nth-child(1) > img {
    width: 60px;
  }
  .classBd > div:nth-child(2) > img {
    width: 50px;
    margin-top: 76px;
  }
  .classBd > div:nth-child(3) > img {
    width: 50px;
    margin-top: 79px;
  }
  .classBe {
    width: 270px;
    height: 350px;
    font-family: DM Serif Display;
    position: relative;
    left: 60px;
    top: -173px;
  }
  .classBe > div > h4 {
    color: #000;
    /* H4 */
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 133.333% */
  }
  .classBe > div > p {
    color: rgba(0, 0, 0, 0.5);
    /* Text_Gray */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-top: 5px;
  }
  .classBe > div:nth-child(2) > h4 {
    margin-top: 32px;
  }
  .classBe > div:nth-child(3) > h4 {
    margin: 43px 0px 0px 0px;
  }
}
#id164C {
  height: 768px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

.id164Ca {
  width: 650px;
  height: 500px;
  margin: 135px 0px 0px 135px;
  padding: 5px 5px 5px 0px;
}
.id164Ca .id164Ca > img {
  width: 100%;
}

.id164Cb {
  height: 361px;
  margin: 191px 0px 0px 62px;
}

.id164Cb > h6 {
  color: black;
  /* H5 */
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 4.8px;
  text-transform: uppercase;
}

.id164Cb > h3 {
  color: black;
  padding-right: 180px;
  height: 128px;
  /* H2 */
  font-family: DM Serif Display;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.id164Cb > p {
  color: black;
  margin-top: 29px;
  padding-right: 310px;
  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.id164Cb > button {
  border-radius: 5px;
  color: white;
  background: #434CCC;
  margin-top: 32px;
  padding: 13px 43.5px 11px 43.5px;
  border: 1px solid #434CCC;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.id164Cb > button:hover {
  background-color: #2731b9;
  cursor: pointer;
}

@media all and (max-width: 480px) {
  #id164C {
    height: 832px;
    width: 100%;
    display: block;
    box-sizing: border-box;
  }
  .id164Ca {
    width: 330.639px;
    height: 305.208px;
    flex-shrink: 0;
    margin: 10px 0px 0px 10px;
    padding: 5px 5px 5px 0px;
  }
  .id164Ca > img {
    width: 100%;
  }
  .id164Cb {
    height: 385px;
    margin: 10px 0px 0px 8px;
    box-sizing: border-box;
  }
  .id164Cb > h6 {
    color: black;
    /* H5 */
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 4.8px;
    text-transform: uppercase;
  }
  .id164Cb > h3 {
    display: inline;
    box-sizing: border-box;
    color: black;
    margin: 0px 0px 0px 0px;
    height: 96px;
    font-family: DM Serif Display;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 120% */
  }
  .id164Cb > p {
    display: inline-block;
    color: black;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid white;
    /* Text_Big */
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
  .id164Cb > button {
    border-radius: 5px;
    color: white;
    background: #434CCC;
    margin-top: 32px;
    padding: 13px 43.5px 11px 43.5px;
    border: 1px solid #434CCC;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .id164Cb > button:hover {
    background-color: #2731b9;
    cursor: pointer;
  }
}
.unique1 {
  width: 1440px;
  height: 1px;
  opacity: 0.0974;
  background: black;
}

@media all and (max-width: 480px) {
  .unique1 {
    width: 375px;
    height: 1px;
    flex-shrink: 0;
    opacity: 0.0974;
    background: black;
  }
}/*# sourceMappingURL=index.css.map */