

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    
}

.main-con{
    height: auto;
    width: 100vw;
   background-color: #F5F6FD;
   padding-bottom: 30px;
//    background: #F5F6FD;
}

@mixin justify{
       
    height: 10rem;
    width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
 

}


.child1{
    @include justify;


    p{
        font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 29px;
   
    }
    
     h2{
    font-family:  Serif Display;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    margin-top: 60px;
    }

}


.child2{
   height: auto;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:30px;
   display: flex;
   justify-content: space-evenly;
   margin-top: 56px;
   flex-wrap: wrap;
   padding-bottom:  30px;
}

@media screen and (max-width:480px) {
    
.child2{
    grid-template-columns: repeat(1,1fr);

}
.child1{
   
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
  
   
}

} 



.box{
    border-radius: 5px;
    background: #FFF;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);


    img{
         width: 146px;
         height: 96px;
         margin-top: 3rem;
         margin-left: 5.7rem;
         flex-shrink: 0;
         fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    }

    h3{
        font-family: DM Serif Display;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: 32px;
         margin-top: 46px;
         padding: 10px;
    }
    p{
        padding: 10px;
    }

    hr{
        width: 338px;
     height: 1px;
flex-shrink: 0;
opacity: 0.1011;
background: #000;
color: #000000;
    }
    
     .foo h4{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;  
        padding: 20px; 

      
     }
   
.foo{
    display: flex;
    // justify-content: baseline;
span{
    margin-top:20px ;
   
}
}



}




// con 2

.con2{

    box-sizing: border-box;
    // width: 100vw;
height: auto;
display: flex;
background-color: #f5f6fc;

.box1{

    width: 50%;
    height: auto;
}

.box1 img{
    width: 601px;
height: 603px;

}

.box2 {
     width: 40%;

    h3{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 4.8px;
        text-transform: uppercase; 
        margin-top: 98px;
    }
    h2{
        font-family: DM Serif Display;
font-size: 56px;
font-style: normal;
font-weight: 400;
line-height: 64px;
margin-top: 26px;
    }

.para{
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.para1 {
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-top: 26px;
    line-height: 24px;   
    display: flex;
    flex-wrap: wrap;
    // text-align: center;
    p{
        margin: 8px;
    }

    img{
        fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
        width: 35px;
height: 40px;
flex-shrink: 0;
    }
}

.para2{
    font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
margin-top: 26px;
display: flex;
// text-align: center;
p{
    margin: 8px;
}

img{
    fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
    width: 35px;
height: 40px;
flex-shrink: 0;
}
}



.para3{
     margin-top: 26px;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    // text-align: center;
    p{
        margin: 8px;
    }

    img{
        fill: linear-gradient(225deg, #FFC105 0%, #737CFF 100%);
        width: 35px;
height: 40px;
flex-shrink: 0;
    }


}

.btn1{
    width: 170px;
height: 48px;
flex-shrink: 0;
border-radius: 5px;
background: var(--Primary_1, #434CCC);
margin-top: 56px;
color: white;
border: none;
}
.btn2{
    width: 170px;
height: 48px;
flex-shrink: 0;
margin-left: 30px;
border: none;
color: #434CCC;

}


}




}

@media screen and (max-width:480px) {
    .con2{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        margin: auto;
        // text-align: center;
        padding-bottom: 40px;

         .box1 img{
            margin-left: 30px;
                width: 401px;
            height: 603px;
         
         }

        

         .box2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
      
           
         }
           
    }    
    .box2 p{
         text-align: center;
         display: flex;
          flex-wrap: wrap;
         justify-content: center;
         align-items: center;
    }
   
}
