
/* prasad css */
.con-1{
   margin-top:20px;
   display: grid;
   grid-template-columns: repeat(5,1fr);
   height: auto;
   overflow-y: hidden;
   scrollbar-width: thin;
   gap: 20px;
   align-self: center;
   margin: 40px;

}
.con-1::-webkit-scrollbar{

    display: none;
}

.card{
    width: 300px;
    height: 400px;
    background-color: #fafafa;
    border: none;
    background-color: red;
   transition:transform  0.5s;
}

.card:hover{
    transform:scale(0.9);
    cursor: pointer;
}

.card img{
    height: 300px;
    border-radius: 5px 5px 0px 0px ;
    
}
.card >p{
    background-color:yellow;
    width: 200px;
    height: 30px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    margin-top: -13px;
    border: 1px solid white;
    font-weight: bold;
}
.card-title{
    display: flex;
    justify-content: space-between;
}



.content{
    display: flex;
    justify-content: space-around;
 
}
.btn1{
    height: 40px;
    background-color: #1a2024;
    color: white;
    width: 110px;
    border-radius: 10px;
    margin-top: 15px;
    font-weight: bold;
}

/*  con-2 */
.main-con2{
   
    width: 100%;
    height: auto;
}
.small-ele{
   
    text-align: center;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(16,1fr);
    overflow-x: scroll;
   
}


.box{


transition:transform  0.5s;
}

.box:hover{
    transform:scale(0.9);
    cursor: pointer;
}






@media screen and (max-width:850px) {
    
.small-ele{
    grid-template-columns: repeat(8,1fr);
    gap: 20px;
   
}


}




.small-ele::-webkit-scrollbar{
    display: none;
    
}
.box p{
    font-weight: bold;
    color: black;
}


.row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.con4{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   overflow-y: hidden;

}
.con 
.con4::-webkit-scrollbar{
    display: none;
}

.con1{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
}


.child-1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    
}

.main-con4{
    margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
    text-align: center;

    
}





@media all and (max-width:450px) {
   .main-con4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
   overflow-x: scroll;
   }
   .main-con4::-webkit-scrollbar{
    display: none;
   }

}




.main-con4 img{
    width: 140px;
}

.mchild-5{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap: 11px;
      overflow-x: scroll;
      margin: 10px;
     
}
.mchild-5::-webkit-scrollbar{
    display: none;
}
.boxm img{
    width: 245px;
}
.boxm{
    text-align: center;
    
    transition:transform  0.5s;
}

.boxm:hover{
    transform:scale(0.9);
    cursor: pointer;
}

.card-bottom{
    padding-top: 20px;
    background-color: #d1d9df;
    padding-bottom: 1px;
    border-radius: 0px 0px 10px 10px;
}
.card-bottom p{
    cursor: pointer;
}